<h3>   <%= @herb.name %>      </h3>
<p>Has it been watered?      <%= @herb.is_watered %>      </p>

<p>Updated:     <%= @herb.updated_at %>      </p>


<p>Back to <%= link_to "All Herbs", all_herbs_path %></p>
