.green-box{
background-color: rgb(122, 193, 68);
width: 100%;
min-height: 10%;
text-align: center;
margin-top: auto;
flex-shrink: 0;
bottom: 0%;
display: flex;
position: fixed;
/* height: 9%;
justify-content: center;
align-items: baseline; */
/* flex-direction: column; */


}
.learn-logo{
    width: 10%;
    min-height: inherit;
    margin: auto;
    padding-bottom: 1em;
}
.gray-box{
display: flex;
flex-shrink: 0;
background-color: #222;
color: #999;
width: 100%;
margin-top: auto;
bottom: 0%;
text-align: center;
position: fixed;

}