.brand {
    width:70%;
    float:left;
}
.header-logo {
    padding:15px 0;
    width:30%;
    float: left;
}
.header-top-bar {
    border-bottom:1px solid lightgray;
}
#top-bar-content, #top-bar-content span {
    font-size:12px;
}