.module-list {
    list-style: none;
}
.disabled {
    pointer-events:none;
    opacity: 0.5;
    color: gray;
}

.nav-list:hover {
    opacity:.9;
    cursor:pointer;
}
.lesson-completed {
    opacity: .2;
    color: green;
}
.lesson-completed::before {
    content: "\2713"
}
.lesson-nav {
    border: "solid black 3px"
}